
.fo {
    width: 72rem;
    height: 2rem;
    border: 1px solid black;
    background-color: #0c0232;
    color: white;
}

.p1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p2 {
    display: flex;
    justify-content: left;
    align-items: end;
}


@media (max-width: 375px) {
    .fo {
        width: 100%; 
        height: auto; 
        font-size: 1rem; 
        padding: 0.5rem; 
        box-sizing: border-box;
    }

    .p1, .p2 {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .p2 {
        justify-content: center; 
    }
}
